<!-- BEGIN: USER -->
<link rel='stylesheet' href='css/user.css'>
<title>My account</title>
<div class="mt-2">
<div class="row">
	<div class="col-lx-2"></div>
	<div class="col-md-3 container" style="margin-top:20px">
		<div class="menu">
			<div class="memu_title"><big>My account</big></div>
			<ul sytle="list-style-type:none">
				<li class="user"><a href="#">Account Dashboard</a></li>
    			<li class="user"><a href="#">Information</a></li>
				<li class="user"><a href="#">Address Book</a></li>
				<li class="user"><a href="#">My Orders</a></li>
				<li class="user"><a href="#">My Product Reviews</a></li>
				<li class="user"><a href="#">Newsletter Subscriptions</a></li>
				<li class="user"><a href="#">Glassesusa Mirror</a></li>
				<li class="user"><a href="#">Glassesusa Customer Prescription</a></li>
				<li class="user"><a href="#">Check Your Gift Card Balance</a></li>
			</ul>
			<div class="size">Find your size</div>
			<ul class="sub_select">
		    <li><a href="#">Clearance Sale</a></li>
		    <li><a href="#">New Arrivals</a></li>
		    <li><a href="#">Bestsellers</a></li>
		    <li><a href="#">Muse x Hilary Duff</a></li>
		    <li><a href="#">Designer Glasses</a></li>
		    <li><a href="#">Ray-Ban</a></li>
			</ul>
			<ul class="sub_select">	
		    <li><a href="#">Prescription Glasses</a></li>
		    <li><a href="#">Rx Sunglasses</a></li>
		    <li><a href="#">Contact Lenses - NEW</a></li>
		    <li><a href="#">Multifocal Glasses</a></li>
		    <li><a href="#">Kids Glasses</a></li>
		    <li><a href="#">Lightweight Glasses</a></li>
		    <li><a href="#">Sports Glasses</a></li>
			</ul>
			<div class="contact">
				<b>Customer Service</b><br/>
				Need help? We're here to help you:<br/>
				<img src="https://static.glassesusa.com/skin/frontend/default/optimax/images/phoneicon.gif"> 1-800-917-7083<br/>
				All Day. Every Day. 24-7<br/>
				<img src="https://static.glassesusa.com/skin/frontend/default/optimax/images/mailicon.gif"> Send Us An Email<br/>
			</div>
			
			<div class="contact">
			<b>My Cart</b><br/>
			You have no items in your shopping cart.
			</div>
		</div>

	</div>
	<div class="col-md-7">
		<div class="title">My Dashboard</div><hr/>
		<div class="hello">
			<b>Hello, Jack Gallagher!</b><br/>
			From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
		</div>
		<!-- <div class="table"> -->
		<table border="0" cellspacing="2">
			<tr>
				<td class="information_title">
					<img src="https://static.glassesusa.com/skin/frontend/default/optimax/images/icon_ma_info.gif"> Account Information
				</td>

				<td>
					<a href="#" class="edit">Edit profie</a>
				</td>
			</tr>
			<tr>
				<td>
					<div class="information_subtitle">Contact Information</div>
					<div class="information"><br/>Jack Gallagher<br/>Jackgallagher@gmail.com</div>
				</td>
				<td>
					<div class="information_subtitle">Newsletters</div>
					<div class="information"><br/>You are currently not subscribed to any newsletter. </div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="information_subtitle">Address Book</div>

				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<div class="information_subtitle">Primary Billing Address</div>
					<div class="information"><br/>You have not set a default billing address.</div>
				</td>
				<td>
					<div class="information_subtitle">Primary Shipping Address</div>
					<div class="information"><br/>You have not set a default shipping address.</div>
				</td>

			</tr>
		</table>

	</div>
	<div class="col-md-1"></div>
</div>
</div>
<!-- END: USER -->