.title{
	font:bold 28px/31px Arial;
}
#order-left{
	font:normal 16px/24px Arial;
	color:#666;	
}
.info{
	background-color: #2093d2;
	color: #fff;
	text-transform:uppercase;
	width:100%;
	margin-top:25px;
}
.order-img{
	margin-left:20px;	
}
.subscribe{
	font-size:20px;
	font-weight:700;
	color:#2d2d2d;
	margin-top:100px;	
}
.subscribe-email{
	width:360px;
	border:2px solid #2d2d2d;
	height:40px;
	line-height:40px;
	font-size:17px;
	padding-left:15px; 	
}
.submit-email{
	background-color:#4d4d4d;
	width:160px;
	height:40px;
	line-height:40px;
	color:#FFF;
	border:none;
	margin-left:20px;
	font-size:17px;	
}
.submit-email:hover{
	background-color:#2d2d2d;	
}
.icon{
	margin-right:15px;	
}