<!-- BEGIN: HOME -->
	<link rel="stylesheet" href="css/home.css">


	<div class='container' style="padding-top: 70px;text-align: center">
		
		<image src="images/home-poster.jpg"><br><br><br>

		<div class="row" id="home_brand">
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=muse" class="home_brand_item brand_item_1">MUSE</a>
			</div>
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=rayban" class="home_brand_item brand_item_2">Ray-Ban</a>
			</div>
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=prada" class="home_brand_item brand_item_3">PRADA</a>
			</div>
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=gucci" class="home_brand_item brand_item_4">GUCCI</a>
			</div>
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=oakley" class="home_brand_item brand_item_5">OAKLEY</a>
			</div>
			<div class="col-md-2">
				<a href="{baseUrl}?m=categories&a=persol" class="home_brand_item brand_item_6">DKNY</a>
			</div>
		</div>

		<div class="container-fluid" id="home_tips">
			<div class="title_header"> <h3 class="title_header_text">It's so simple</h3> </div>
			<div class="row">
				<div class="col-md-6" data-toggle="modal" data-target=".bs-example-modal-lg">
					<div class="card home_banner home_banner_left" style="">
						<h4 style="color:#3fabe6; text-align:left; font-weight: 700;">Let's get started</h4>
						<p style="text-align:left;">The <b>5 easy steps</b> to buying prescription eyewear online.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card home_banner home_banner_right">
						<h4 style="color:#3fabe6; text-align:left; font-weight: 700;">See Yourself in Any Pair</h4>
						<p style="text-align:left;">Make sure the glasses you like are the glasses that actually fit.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="home_popular">
			<div class="title_header"> <h3 class="title_header_text">Popular style</h3> </div>
			<ul class="list-inline">
				<li>
					<a href="{baseUrl}?m=category&a=eyeglasses&shape=square" class="home_popular home_popular_item_1 text-link">
						<span class="home_popular_item_name">Square</span>
					</a>
				</li>
				<li>
					<a href="{baseUrl}?m=category&a=eyeglasses&shape=wayframe" class="home_popular home_popular_item_2 text-link">
						<span class="home_popular_item_name">Wayframe</span>
					</a>
				</li>
				<li>
					<a href="{baseUrl}?m=category&a=eyeglasses&shape=browline" class="home_popular home_popular_item_3 text-link">
						<span class="home_popular_item_name">Browline</span>
					</a>
				</li>
				<li>
					<a href="{baseUrl}?m=category&a=eyeglasses&shape=round" class="home_popular home_popular_item_4 text-link">
						<span class="home_popular_item_name">Round</span>
					</a>
				</li>
				<li>
					<a href="{baseUrl}?m=category&a=eyeglasses&shape=rimless" class="home_popular home_popular_item_5 text-link">
						<span class="home_popular_item_name">Rimless</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="container-fluid" id="home_frames">
			<div class="title_header"> <h3 class="title_header_text">Featured frames</h3> </div>
			<div class="row">
			<!--BEGIN: LIST -->
				<div class="col-md-6">
					<a href="#">
						<img src="{LIST.image1}" alt="Elliot" height="200">
					</a>
					<p><a href="{baseUrl}?m=product&a=product&name={LIST.name}" class="home_frames_text">{LIST.name}</a></p>
					<p style='color:orange'>${LIST.price}</p>
					
				</div>
			<!--END: LIST -->	
				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/1/0/10033_f_2_1.jpg" alt="Elliot" height="200">
					</a>
					<p><a href="{baseUrl}?m=product&a=product&name=Ray-Ban%203025%20Classic%20Aviator" class="home_frames_text">Ray-Ban 3025 Classic Aviator</a></p>
					<p style='color:orange'>$154.00</p>
					
				</div>

				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/1/0/10033_f_2_1.jpg" alt="Elliot" height="200">
					</a>
					<p><a href="{baseUrl}?m=product&a=product&name=Ray-Ban%203561%20The%20General" class="home_frames_text">Ray-Ban 3561 The General</a></p>
					<p style='color:orange'>$163.00</p>
					
				</div>

				<div class="col-md-6">
					<a href="#">
						<img src="images/product/Oakley_Gauge_5.2_Truss_1.jpg" height="200">
					</a>
					<p><a href="{baseUrl}?m=product&a=product&name=Oakley%20Gauge%205.2%20Truss" class="home_frames_text">Oakley Gauge 5.2 Truss</a></p>
					<p style='color:orange'>$234.00</p>
					
				</div>
				
		</div>

		<div class="container-fluid" id="home_lenses">
			<div class="title_header"> <h3 class="title_header_text">Our Lenses</h3> </div>
			<div class="row home_lenses_container">
				<div class="col-md-6 home_lenses home_lenses_item_1">
					<a href="{baseUrl}?=category&a=eyeglasses" class="lense_item_text">
						<span class="lense_item_text_title">Progressives</span>
						<p class="lense_item_text_content">
							Say Goodbye to Multi-Pairs Progressive lenses provide you with all the natural vision for all distances in only one pair.
						</p>
						<span class="lense_item_text_nav">Shop Progressive &gt;</span>
					</a>
				</div>

				<div class="col-md-6 home_lenses home_lenses_item_2">
					<a href="#" class="lense_item_text">
						<span class="lense_item_text_title">Glued to a Screen ?</span>
						<p class="lense_item_text_content">
							If you spend more then 5 hours a day in front of a screen, you need <b>Digital Block lenses</b>
						</p>
						<span class="lense_item_text_nav">Shop Computer &gt;</span>
						<span class="item_img"></span>
					</a>
				</div>
			</div>

			<div class="home_lenses home_lenses_container" id="snap">
				<a href="{baseUrl}?m=category&a=contact" class="lense_item_text">
					<div class="row">
						<div class="col-sm-6">
							<span class="item_img"></span>
						</div>
						<div class="col-sm-6">
							<span class="lense_item_text_title">SNAP! Lenses for <br>your Spectacles</span>
							<p class="lense_item_text_content">
								Whether you want adaptive lenses for day and night, or just want to see right while snapping, we'll mail you your lenses in a snap.
							</p>
							<span class="lense_item_text_nav">Learn More &gt;</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>



		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
      </div>
      <div class="modal-body">
      	<div class="title_popup">How It Works</div>
      	<div class="subtitle_popup">It's Simple & 100% Risk Free</div>
      	<table class="table">
      		<tr>
      			<td rowspan="5"><img src="https://www.glassesusa.com/skin/frontend/default/optimax/react/src/img/29c4a38ed8c1a50d4d17a3ef566f532a.jpg"></td>
      			<td>
      				<b>1. Choose a Frame</b><br/>
      				Choose from the over 2000 frames we keep in stock.
					Use our user-friendly navigation to narrow down your search so you find exactly what you’re looking for.
      			</td>
      		</tr>
      		<tr>
      			<td>

      				<b>2. Pick Your Lens Type</b><br/>
      				Once you have your frame selected, pick the lens you need.
We offer a lens solution for every type of prescription.
      			</td>
      		</tr>
      		<tr>
      			
      			<td>
      			<b>3. Enter Your Prescription</b><br/>
      			Simply fill out your details and prescription using our easy-to-use online form. You can also upload, email or fax it to us.
      			</td>
      		</tr>
      		<tr>
      			
      			<td>
      			<b>4. Fast & Free Shipping</b><br/>
      			If you’re not happy with your order, you can always send it back.
				No questions asked and 100% money back guarantee.
      			</td>
      		</tr>
      		<tr>
      			
      			<td>
      			<b>5. 24/7 Tracking</b><br/>
      			We'll keep you in the loop every step of the way
      			</td>
      		</tr>
      	</table>
      	</p>
      </div>
      <div class="row">
      <div class="modal-footer">
      <!-- <table class="nut">
      	<tr>
      		<td colspan="2"><b>Got it ?</b></td>
      	</tr>
      	<tr>
      		<td><input type="button" class="btn btn-default" data-dismiss="modal" value="Shop man"></td>
      		<td><input type="button" class="btn btn-default" data-dismiss="modal" value="Shop woman"></td>
      	</tr>
      </table> -->
        
        
      </div>
    </div>
  </div>
</div>
<!-- END: HOME -->