
	<!-- BEGIN: ORDERTRACKING -->
      
        <link rel="stylesheet" href="css/ordertracking.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
		<div class="container">
			<h1 class="title">ORDER STATUS</h1>
			<div class="row">
				<div class="col-md-5" id="order-left">
					<p>Enter your email address and order number into the form below to obtain the status information for your order</p>
					<div class="form-group">
						<label for="tracking-email">Email Address:</label>
						<input class="form-control" type="text" name="email" id="tracking-email" required></input>
					</div>
					<div class="form-group">
					<label for="tracking-order">Order Number</label>
					<input class="form-control" type="text" name="order" id="tracking-order" required></input>
					</div>
					<button class="btn info" type="submit">Submit</button>
				</div>
				<div class="col-md-7">
					<img class="order-img" src="images/ordertracking/order-right.png"/>
				</div>
			</div>
            <div class="row">
            	<div class="col-md-8">
                	<p class="subscribe">Sign up to enjoy discounts way before everyone</p>
                    <input class="subscribe-email" type="text" placeholder="Type Your Email Here"></input>
                    <button class="submit-email" type="submit">Submit</button>
                </div>
                <div class="col-md-4">
                	<p class="subscribe">Let's be friends</p>
                    <div>
                    	<a href="#" class="icon"><img src="images/ordertracking/768px-Facebook_icon.svg.png" width="30px" height="30px"/></a>
                        <a href="#" class="icon"><img src="images/ordertracking/app-icon2.png" width="30px" height="30px"/></a>
                        <a href="#" class="icon"><img src="images/ordertracking/square-twitter-256.png" width="30px" height="30px"/></a>
                        <a href="#" class="icon"><img src="images/ordertracking/640px-YouTube_full-color_icon_(2017).svg.png" width="30px" height="30px"/></a>
                    </div>
                </div>
            </div>
		</div>

	<!-- END: ORDERTRACKING -->	
	