<!-- BEGIN: HOME -->
	<link rel="stylesheet" href="css/home.css">


	<div class='container' style="padding-top: 70px;text-align: center">
		
		<image src="images/home-poster.jpg"><br><br><br>

		<div class="row" id="home_brand">
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_1">MUSE</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_2">Ray-Ban</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_3">PRADA</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_4">GUCCI</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_5">BAKLEY</a>
			</div>
			<div class="col-md-2">
				<a href="#" class="home_brand_item brand_item_6">DKNY</a>
			</div>
		</div>

		<div class="container-fluid" id="home_tips">
			<div class="title_header"> <h3 class="title_header_text">It's so simple</h3> </div>
			<div class="row">
				<div class="col-md-6">
					<div class="card home_banner home_banner_left" style="">
						<h4 style="color:#3fabe6; text-align:left; font-weight: 700;">Let's get started</h4>
						<p style="text-align:left;">The <b>5 easy steps</b> to buying prescription eyewear online.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card home_banner home_banner_right">
						<h4 style="color:#3fabe6; text-align:left; font-weight: 700;">See Yourself in Any Pair</h4>
						<p style="text-align:left;">Make sure the glasses you like are the glasses that actually fit.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="home_popular">
			<div class="title_header"> <h3 class="title_header_text">Popular style</h3> </div>
			<ul class="list-inline">
				<li>
					<a href="#" class="home_popular home_popular_item_1 text-link">
						<span class="home_popular_item_name">Square</span>
					</a>
				</li>
				<li>
					<a href="#" class="home_popular home_popular_item_2 text-link">
						<span class="home_popular_item_name">Wayframe</span>
					</a>
				</li>
				<li>
					<a href="#" class="home_popular home_popular_item_3 text-link">
						<span class="home_popular_item_name">Browline</span>
					</a>
				</li>
				<li>
					<a href="#" class="home_popular home_popular_item_4 text-link">
						<span class="home_popular_item_name">Round</span>
					</a>
				</li>
				<li>
					<a href="#" class="home_popular home_popular_item_5 text-link">
						<span class="home_popular_item_name">Rimless</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="container-fluid" id="home_top_cat">
			<div class="title_header"> <h3 class="title_header_text">Top categories</h3> </div>
			<div class="row mx-auto">
				<div class="col-md-6 text-center">
					<div style="
					background-image: url(https://glassesusa.com/skin/frontend/default/optimax/react/src/img/cce1fab94f2a9c124fb1fce5ea3e9c7b.jpg);
					background-repeat: no-repeat;
					width: 90%;
					height: 45%;
					background-size: cover; margin-bottom: 30px;
					" class="float-right">
						<button class="btn btn-outline-dark position-absolute bg-light" style="bottom:52%; right:0;">Shop Clearance</button>
					</div>
					<div style="
					background-image: url(https://www.glassesusa.com/skin/frontend/default/optimax/react/src/img/8bc0f4128a15c1c1907d14f2ef57d466.jpg);
					background-repeat: no-repeat;
					width: 90%;
					height: 45%;
					background-size: cover;
					" class="float-right">
						<button class="btn btn-outline-dark position-absolute bg-light" style="bottom:0; right:0;">Shop Clearance</button>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<div style="
					width: 496px;
					height: 511px;
					background-size: cover;
					background-image: url(https://www.glassesusa.com/skin/frontend/default/optimax/react/src/img/5baa1bedf57ab8f3e5c748771a886ecf.jpg);
					">
					<button class="btn btn-outline-dark position-absolute bg-light" style="bottom:-3%; right:0;">Shop Clearance</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="home_frames">
			<div class="title_header"> <h3 class="title_header_text">Featured frames</h3> </div>
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/1/0/10033_f_2_1.jpg" alt="Elliot" height="200">
					</a>
					<p><a href="#" class="home_frames_text">Elliot</a></p>
				</div>
				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/8/2/8211_f_3.jpg" alt="Pam" height="200">
					</a>
					<p><a href="#" class="home_frames_text">Pam</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/9/1/9146_f_4.jpg" alt="Muse M Classic" height="200">
					</a>
					<p><a href="#" class="home_frames_text">Muse M Classic</a></p>
				</div>
				<div class="col-md-6">
					<a href="#">
						<img src="https://static.glassesusa.com/media/catalog/product/cache/1/thumbnail/400x200/9df78eab33525d08d6e5fb8d27136e95/3/1/31-1957_f.jpg" alt="Regent" height="200">
					</a>
					<p><a href="#" class="home_frames_text">Regent</a></p>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="home_lenses">
			<div class="title_header"> <h3 class="title_header_text">Our Lenses</h3> </div>
			<div class="row home_lenses_container">
				<div class="col-md-6 home_lenses home_lenses_item_1">
					<a href="#" class="lense_item_text">
						<span class="lense_item_text_title">Progressives</span>
						<p class="lense_item_text_content">
							Say Goodbye to Multi-Pairs Progressive lenses provide you with all the natural vision for all distances in only one pair.
						</p>
						<span class="lense_item_text_nav">Shop Progressive &gt;</span>
					</a>
				</div>

				<div class="col-md-6 home_lenses home_lenses_item_2">
					<a href="#" class="lense_item_text">
						<span class="lense_item_text_title">Glued to a Screen ?</span>
						<p class="lense_item_text_content">
							If you spend more then 5 hours a day in front of a screen, you need <b>Digital Block lenses</b>
						</p>
						<span class="lense_item_text_nav">Shop Computer &gt;</span>
						<span class="item_img"></span>
					</a>
				</div>
			</div>

			<div class="home_lenses home_lenses_container" id="snap">
				<a href="#" class="lense_item_text">
					<div class="row">
						<div class="col-sm-6">
							<span class="item_img"></span>
						</div>
						<div class="col-sm-6">
							<span class="lense_item_text_title">SNAP! Lenses for <br>your Spectacles</span>
							<p class="lense_item_text_content">
								Whether you want adaptive lenses for day and night, or just want to see right while snapping, we'll mail you your lenses in a snap.
							</p>
							<span class="lense_item_text_nav">Learn More &gt;</span>
						</div>
					</div>
				</a>
			</div>

			<div class="social mt-5 text-center" id="social">
				<div class="title_header"> <h3 class="title_header_text">Social Network</h3> </div>
				<p class="font-weight-bold">
					<a class="text-dark h5" href="fb.com/eyeonic">#EyeonicGlasses</a> 
					<span class="text-dark font-weight-light h5">|</span> 
					<a class="text-dark h5" href="instagram.com/eyeonic">@EyeonicGlasses</a>

					<p class="text-center" style="font-family:sans-serif;">
						<a href="instagram.com/eyeonic" class="fa fa-2x fa-instagram text-dark px-4" style='text-decoration:none;'></a>
						<a href="fb.com/eyeonic" class="fa fa-2x fa-facebook text-dark px-4" style='text-decoration:none;'></a>
						<a href="twitter.com/eyeonic" class="fa fa-2x fa-twitter text-dark px-4" style='text-decoration:none;'></a>
					</p>
				</p>
			</div>
		</div>
	</div>
<!-- END: HOME -->