<!-- BEGIN: THANKYOU -->
	
<div style='text-align: center;min-height: 500px;padding-top: 120px' class='container'>
		<i style='font-size: 100px' class="fab fa-angellist"></i>
		<h1>Thank you</h1>
		<p>Have fun with the best glasses</p>
		<br/><br/>
		<a class='btn btn-light' style='background: #FFF;width: 150px;height: 45px;border: solid 1px #222' href='{baseUrl}?m=category&a=men-eyeglasses'>Shop Men</a>&nbsp;&nbsp;
		<a class='btn btn-light' style='background: #FFF;width: 150px;height: 45px;border: solid 1px #222' href='{baseUrl}?m=category&a=women-eyeglasses'>Shop Women</a>
	</div>


<!-- END: THANKYOU -->