<!-- BEGIN: PW_CHANGE -->
<form method="post" class="container" style="width:400px;" id="form-pw-change">
   <div class="card card-register mx-auto my-5">
      <div class="card-header">Change password USER #{pwc_id}</div>
      <div class="card-body">
         <div class="mt-2">Enter your old password to verify that is you</div>
         <input type="password" class="form-control w-100 my-1" name="pwc_pw_old"
            autofocus>
         <div class="mt-2">Now your new password</div>
         <input type="password" class="form-control w-100 my-1" name="pwc_pw">
         <div class="mt-2">Repeat it</div>
         <input type="password" class="form-control w-100 my-1" name="pwc_pw_repeat">
         <div class="text-danger text-right">{pwc_report}</div>
         <div class="w-100 text-right" style="margin-top:2rem;">
            <button class="btn btn-info" type="submit" name="pwc_save">Save</button>
            <button class="btn btn-secondary" type="reset">Clear</button>
         </div>
      </div>
   </div>
</form>
<!-- END: PW_CHANGE -->